<div class="toolbar" role="banner">
  <span>GEDOPLAN Test Harness</span>
</div>

<div class="content" role="main">
  <form [formGroup]="form" id="form1">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="textInput" matInput placeholder="Enter your Name">
    </mat-form-field>
    <button mat-mini-fab color="primary" [disabled]="form.invalid">
      <mat-icon>save</mat-icon>
    </button>
  </form>
  <form [formGroup]="form2">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="textInput" matInput placeholder="Enter your Name" id="form2Input">
    </mat-form-field>
    <mat-checkbox formControlName="checkboxInput">Newsletter</mat-checkbox>
  </form>
</div>
